*{
    margin: 20px;
    padding: 0;
    font-family: "Fira Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/* nav section style */
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
    margin-left: -0.2px;
}
.sign-btn{
    color: #006A50;
    border: 2px solid #006A50;
    background-color: white;
    width: 70px;
    border-radius: 5px;
    cursor: pointer;
}
.sign-btn:hover{
    color: white;
    background-color: #006A50;
}
/* banner section style */
.banner-section{
    background-color: #C6E4D6;
    border-radius: 10px;
}
.banner-container{
    display: flex;
    justify-content: space-between;
    width: auto;
    margin-left: 0px;
}
.banner-content{
    margin-top: 70px;
    margin-left: 40px;
}
.banner-content h4{
    margin-top: 10px;
    color: #5c5a5a;
    font-size: 15px	;
}
.banner-content h1{
    font-size: 30px;
    color: #0E0E0E;
    font-weight: bolder;

}
.banner-img-container{
    width: 300px;
    margin-right: 50px;
}
.banner-img{
    width: 300px;
    
    /* margin-left: 300px; */
}
.banner-btn{
    margin-top: -10px;
    color: #C6E4D6;
    background-color: #006A50;
    height: 30px;
    width: 200px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}
/* piller section */
.cards{
    display: flex;
    width: 850px;
    margin-left: 0px;
}
.pillars-section{
    margin-left: -0.5px;
}
.pillars-section h1{
    margin-top: 70px;
    font-size: 28px;
}
.card{
    background-color: rgb(233, 230, 230);
    border-radius: 10px;
}
.card p{
    color: #0E0E0E;
    opacity: 70%;
}
.card img{
    width: 50px;
}
/* vision section style */
.vision-of-future{
    margin-top: 70px;
    margin-left: -1px;
}
.vision-of-future h1{
    color: #0E0E0E;
}
.vision-of-future p{
    color: #0E0E0E;
    opacity: 70%;
    font-size: 12px;
    /* margin-bottom: -30px; */
}
.vision-container{
    display: flex;
    width: 900px;
    margin-left: 0px;
}
.vision-container img{
    width: 55px;
}
.vision-content h3{
    font-size: 15px;
}
.vision-content p{
    font-size: 12px;
}
.vision-content {
    margin-right: 5px;

    border-radius: 10px;
    width: 325px;
}
.content-one{
    background-color: #548ff534;
}
.content-one button{
    background-color: #5490F5;
    color: #FFFFFF;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    border: none;
    cursor: pointer;
}
.content-two{
    background-color: #C6E4D6;
}
.content-two button{
    background-color: #09A15C;
    color: #FFFFFF;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    border: none;
    cursor: pointer;
}
.content-three{
    background-color: #F7EBCF;
}
.content-three button{
    background-color: #FFC239;
    color: #FFFFFF;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    border: none;
    cursor: pointer;
}
/* opinion section */
.opinion{
    margin-top: 70px
}
.opinion h1{
    font-weight: 700;
    color: rgb(14, 14, 14);;
}
.table-container{
    padding: 15px;
    border-radius: 10px;
    width: 840px;
    height: 300px;
    background: rgb(233, 230, 230);
}
table{
    border-collapse: collapse;
    width: 800px;
    font-size: 14px;
}
tr th{
    padding-left: 20px;
}
tr td{
    padding-left: 10px;
}
td{
    border: 2px solid rgb(198, 228, 214);
}
thead{
    text-align: left;
    border: 2px solid rgb(198, 228, 214);
    background: rgb(198, 228, 214);
    height: 50px;
}
 select{
    height: 30px;
    border-radius: 4px;
    background-color: rgb(198, 228, 214);
    border: none;
    outline: none;
}
/* news section style */
/* 1st news */
.news{
    margin-top: 70px;
}
.news h1{
    color: #0E0E0E;
}
.news p{
    color: #0E0E0E;
    opacity: 70%;
    font-size: 14px;
}
.news-container{
    display: flex;
    background-color: #f0e3e3;
    border-radius: 10px;
}
.news-img img{
    width: 300px;
    border-radius: 15px;
}
.news-content h3{
    margin-left: -40px;
    color: #0E0E0E;
    opacity: 80%;
}
.news-content img{
    height: 30px;
    width: 100px;
    margin-top: -16px;
    margin-left: -40px ;
}
.news-content .time{
    font-size: 10px;
    color: #0E0E0E;
    opacity: 70%;
    margin-left: -40px;
    margin-top: -16px;
}
.main-news-content{
    font-size: 14px;
    color: #0E0E0E;
    opacity: 70%;
    margin-left: -40px;
    margin-top: -11px;
}
.news-content button{
    background-color: #006A50;
    color: white;
    border-radius: 8px;
    width: 100px;
    height: 35px;
    border: none;
    cursor: pointer;
    margin-left: -40px;
    margin-top: 1px;
}
/* 2nd news */
.news-container-two{
    flex-direction:row-reverse;
}
.news-content-two h3{
    color: #0E0E0E;
    opacity: 80%;
}
.news-content-two img{
    height: 30px;
    width: 100px;
    margin-top: -16px;
}
.news-two-time{
    font-size: 10px;
    color: #0E0E0E;
    opacity: 70%;
    margin-top: -16px;
}
.main-news-content-two{
    font-size: 14px;
    color: #0E0E0E;
    opacity: 70%;
    margin-top: -11px;
}
.news-content-two button{
    background-color: #006A50;
    color: white;
    border-radius: 8px;
    width: 100px;
    height: 35px;
    border: none;
    cursor: pointer;
    margin-top: 1px;
}
/* donate section */
.donate{
    text-align: center;
    margin-top: 80px;
}
.donate h1{
    font-weight: 700;
}
.donate p{
    color: rgba(14, 14, 14, 0.7);
    font-weight: 400;
}
.amount-container{
    display: flex;
    justify-content: center;
    text-align: center;
}
.donate-amount{
    border-radius: 16px;
}
.donate-amount a{
    text-decoration: none;
    color: rgba(14, 14, 14, 0.8);
}
.donate-amount{
    background-color: rgba(14, 14, 14, 0.15);
}
.donate-amount:hover{
    background-color: rgb(183, 214, 200);
    cursor: pointer;
}
.donate-btn-amount input{
    width: 700px;
    height: 30px;
    border-radius: 4px;
    border: 2px solid #ccc;
    text-align: center;
    margin-top: -100px;
    outline: none;
}
.donate-btn-amount button{
    color: white;
    background: rgb(0, 106, 80);
    border: 1px solid rgb(0,106,80);
    border-radius: 8px;
    width: 100px;
    height: 35px;
    cursor: pointer;
    margin-top: -1px;
}
/* newsletter section style */
.newsletter-section{
    background: rgb(198, 228, 214);
    border-radius: 10px;
    text-align: center;
}
.newsletter-content{
    padding: 20px;
}
.newsletter-content h1{
    color: rgb(14, 14, 14);
}
.newsletter-content p{
    color: rgba(14, 14, 14, 0.7);
    padding-left: 40px;
    padding-right: 40px;
    font-size: 13px;
    font-weight: 400;
}
.newsletter-content .input-box{
    padding-left: 20px;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #ccc;
    outline: none;
}
.newsletter-content button{
    height: 42px;
    width: 90px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: rgb(255, 255, 255);
    background: rgb(0, 106, 80);
    border: 1px solid rgb(0,106,80);
    padding-left: 0px;
    margin-left: -30px;
    cursor: pointer;
}
.newsletter-content .end-msg{
    margin-top: -5px;
    margin-bottom: 30px;
}
/* footer section style */
footer{
    margin-top: 70px;
    margin-left: -100px;
    margin-right: -100px;
    margin-bottom: -40px;
    border-radius: 10px;
    background-color: #eff7f4;
    text-align: center;
}
footer h3{
    padding-top: 50px;
    font-size: 25px;
}
.footer-icon{
    display: flex;
    justify-content: center;
    margin-left: 18px;
    margin-top: -30px;
}
.fb-icon{
    margin-right: -70px;
}
.insta-icon{
    margin-right: -70px;
}